.novel_view {
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    &_wrapper {
        column-count: auto;
        column-gap: 50px;
        writing-mode: vertical-rl;
        width: percentage(1/1);
    }

    &_body {
        max-height: 80vh;
    }
}